body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #212121;
}

#game-board {
  transition: 5s;
  width: 100vmin;
  height: 99vmin;
  display: grid;
  border: 1px solid #ececec;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: #00ff00;
  border: .25vmin solid black;
  border-radius: 5px;
}

.food {
  background-color: #ff0000;
  border: .25vmin solid black;
  border-radius: 15px;
}

.foodTwo {
  background-color: #a9deff;
  border: .25vmin solid black;
  border-radius: 15px;
}
